<!DOCTYPE html>




<% include header %>
  <div class="container">
                   <div class="jumbotron">
                           <h1>Node.js全栈开发学期总结</h1>
                           <h3>软微学院论坛项目</h3>
						   <p><button class="btn btn-primary">完成功能</button>双端登录、用户模块、帖子的增删改查、活动发起与投票等基本功能</p>
						   <p><button class="btn btn-info">其他功能</button>在线聊天室和微信墙</p>
						   <p><button class="btn btn-danger">有待完善</button>十大实时置顶统计、分类标签查询、新评论提醒回复等</p>
                 </div>
                   <div class="row">
                           <div class="col-sm-4">
                                   <h3>后台</h3>
                                  <p><a href="http://idlelife.org/archives/808">Passport登录验证</a></p>
									<span><a href="https://github.com/hulikui/passport2">案例<span><br>
									<p><a href="https://cnodejs.org/topic/548e54d157fd3ae46b233502">如何设计Mongodb schema<p>
                                  <span><a href="https://github.com/udbmnm/Nblog">博客案例</a></span><br>
									<span><a href="http://www.yiibai.com/mongodb/mongodb_drop_database.html">Mongodb命令</a><span>
									<p><a href="http://www.jb51.net/article/51331.htm">JSON解析的用法<a><p>
									<p><a href="http://www.jb51.net/article/48680.htm">Promise用法<a><p>
									<p><a href="https://cnodejs.org/topic/51d686a3d44cbfa3049cee81">req.flash用法<a><p>
									<p><a href="https://cnodejs.org/topic/51e3fadcf4963ade0e9eb09c">多进程共享session问题</a></p>
									<span><a href="https://github.com/rajaraodv/redispubsub">redis案例</a><span><br>
                          </div>
                          <div class="col-sm-4">
                                   <h3>前端</h3>
                                  <p><a href="http://www.runoob.com/try/bootstrap/layoutit/">Bootstrap响应式布局设计</a></p>
								    <p><a href="http://124.207.24.154/ace/html/">Ace前端框架</a></p>
									<p>Jquery前端插件</p>
									 <span><a href="http://blog.mn886.net/jqGrid/">JqGrid表格</a></span><br>
									 <span><a href="http://blog.csdn.net/zgjsczwj/article/details/7983066">JqGrid表格操作案例</a></span>
									 <br><span><a href="http://www.helloweba.com/tag-FullCalendar.html">FullCalendar日历插件案例</a></span>
                                  <p></p>
                        </div>
                         <div class="col-sm-4">
                                <h3>本学期项目相关</h3>
                                
                                  <p><a href="https://segmentfault.com/a/1190000000479518">在线聊天案例</a></p>
								  <p><a href="http://www.ibm.com/developerworks/cn/web/wa-nodejs-polling-app/">投票案例Angular.js</a></p>
								   <p><a href="https://github.com/hulikui/ws">微信墙案例</a></p>
								   <p><a href="https://segmentfault.com/a/1190000004701787">微信图灵机器人案例</a></p>
								   <p><a href="https://github.com/hulikui/wcjdk">微信JS-JDK+HTML5案例</a></p>
                          </div>
 
</div>
</div>
  <%- include fixsetting %>
<% include footer %>
